$footer-font: 'Signika Negative', sans-serif;
$footer-background-color:#EDF6FC;

footer{
  display:flex;
  justify-content:center;
    font-size:17px;
    font-family:$footer-font;
        background:$footer-background-color;
    position: absolute;
  bottom:3px;
  width:100%;
  
  
   &  p{
    margin: 18px;
    
    & a{
      text-decoration: none;
    color:black;
    }

    }
    p:hover{
      transform: scale(1.05);
    }
    
}

#footerHome{
  position: absolute;
  bottom:inherit;
}

#footerAct{
  position: absolute;
  bottom: 0cm;
}

@media only screen and (max-width:680px) {
  #footerAct{
    margin-bottom: -17cm;
  }
 }



