$footer-font: 'Signika Negative',
sans-serif;
$footer-background-color:#EDF6FC;

footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 17px;
  font-family: $footer-font;
  background: $footer-background-color;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  align-items: center;


  a {
    margin: 18px;
    text-decoration: none;
    color: black;

  }

  a:hover {
    transform: scale(1.04);
    text-decoration: underline;
  }




}

