$login-font:'Signika Negative', sans-serif;
$text-color:black;
.login {
    width: 450px;
    margin: auto;
    margin-top:100px;
    font-family:$login-font;
    .login__container {
      background:#EDF6FC;
      padding:4%;
      text-align: center;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
      margin-bottom:20px;
      & .form__group{
        display: flex;
    justify-content:flex-start;
      background:none;
        align-items:center;
  
        & label{
          width: 30%;
        } 
        & input {
          border: 0;
    margin: 12px 0 12px;
    padding: 5px;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
        }
      } 
      
      & button {
        
        background:  #6D79E2;
        width: 38%;
        padding:3%;
        color:black;
        border: 1px solid #000000;
      box-sizing: border-box;
      border-radius: 20px;
       position:relative;
        bottom:-19px; 
        left:4px;
        border:0;
        outline: none;
        cursor: pointer;
    
      } 
      & .login__title{
        transform: translate(0px,-20px);
         font-size:19px;
       }
      
  }
    .login__form{
      padding:3%;
     }
      .message{
        padding:6%;
      }
    
}

@media only screen and (max-width:680px) {
  .login {
    width: 92%;
    display: flex;
  align-items: center;
  }
 }
  
  
  
  
  

  
  
  