$sign-in-form-color : #EDF6FC;
$fontType:'Signika Negative', sans-serif;
$button-color: #6D79E2;

.form-tittle
 {
    display: flex;
    justify-content: center;
    font-size: 30px;
    
    font-family: $fontType;
    padding-top: 20px;
 }

#campo 
 {
    background: $sign-in-form-color ;
    margin: auto;
    margin-top: 50px;
    width: 700px;
    .form
     {
        padding:3%;
      display: flex;
      
       justify-content: space-between;
       flex-wrap: wrap;

       p
        {
        font-family: $fontType;
      
        }

        .organiza
        {
            width: 185px;
        }

        .descrip
        {
            margin-top: -25px;
            margin-left: 3cm;
            width: 400px;
            height: 100px;
        }

        .Button
        {
            font-family: $fontType;
            background: $button-color;
            margin-left: 80px;
            width: 173px;
            height: 46px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 20px;
            border:0;
            outline: none;
            margin-top: 10mm;
            margin-left: 12cm;
        }   
    }
 }

 