
h2{
    text-align: center;
}

.campoTexto{
    background:  #EDF6FC;
    width: 515px;
    margin: auto;
}

   p {
    padding: 10px;
    display: inline-block;
    width: 200px;
    text-align: justify;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 10px;
    }