$footer-font: 'Signika Negative', sans-serif;;
$footer-background-color:#EDF6FC;

footer{
  display:flex;
  justify-content:center;
    font-size: git17px;
    font-family:$footer-font;
        background:$footer-background-color;
    position: absolute;
  bottom:0.3%;
    width:100%;
   &  p{
    margin: 18px;
    
    & a{
      text-decoration: none;
    color:black;
    }

    }
    p:hover{
      transform: scale(1.05);
    }
    
}



