$logo-font: 'Signika';

footer{
  display:flex;
  justify-content:center;
    font-size: 18px;
    font-family:$logo-font;
        background: #EDF6FC;
    position: absolute;
  bottom:0.3%;
    width:100%;
   
}

footer p{
    margin: 18px;
}