$navbar-background-color:#EDF6FC;
$logo-font: 'Amatic SC', cursive;


nav{
background-color: $navbar-background-color;
display: flex;
justify-content: flex-end;
width: 100%;
height: 95px;
font-family: $logo-font;
font-size: 48px;

margin-top: 20px;

.nombrelogo {
   
   
    transform: translate(100px,-30px);

}
}

