nav { background-color: #EDF6FC; padding-right: 20px; width: 75%; height: 95px; margin-top: 20px; }

#nombrelogo { padding-top: 10px; font-family: "Amatic SC", cursive; font-size: 48px; position: relative; left: 10%; }
