$navbar-background-color:#EDF6FC;
$logo-font: 'Amatic SC', cursive;
$font-type: 'Signika Negative', sans-serif;
$text-color:black;
/* tipo le letra */


/*  nav principal */
.navPrin{
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
    background-color:$navbar-background-color;
font-family: $logo-font;
font-size: 30px;
    display:flex;
      justify-content:space-around;
      align-items: center;
     & .flex-image{

       justify-content: flex-start;
        margin: 10px;
      }
     
      
       & .izq{
        display:flex;
        align-items: center;
      
        justify-content:center;
        background:none;
          width:38%;
          &  p:hover  {
            transform: scale(1.1);
          }
      }
      & .der{
        display:flex;
       justify-content:center;
       background:none;
       width:62%;
       font-size: 17px;
       font-family:$font-type;
       
       &  p:hover  {
        transform: scale(1.1);
      }
     }
    & .der p{

        margin-right:7%;
   }
   & a{
    text-decoration: none;
color:black;
}



  }
  /*  cree 2 seccion */

    /*  una seccion a la isquierda */

  
    /*  una seccion a la derecha y le pongo flex
     por que estan dentro de una seccion
     */

    /*  separo un poco los elementos p de la derecha  */
 



