/*  
home  
*/
$letterColor:black;

/*  Es una funcion para los botones*/
@mixin botones {
  background:  #6CCCFA;
  color: black;
  font-size: 14px;
  border: 1px solid #000000;
box-sizing: border-box;
border-radius: 20px;

}



#footHome{
    background:grey;
    text-align:center;
    margin:20px;
    padding:40px;
  }
  
  #filtrar{
    margin-left:30px;
   
   transform:scale(1.1);
    width:100px;
   @include botones();
  }
  
  #home{ 
   
    display:flex;
    flex-wrap:wrap;
    margin-bottom:20px;

     .artiHome{
        background:#EDF6FC;
          width:610px;
          margin:auto;
          padding:10px;
        border: black 1px solid;
          margin-top:20px;
         
          &  p{
            width:140px;
         transform:translate(50px);
        }
        & .MeApunto{
          @include botones();
            text-align:center;
            height:45px;

             & a{
                text-decoration: none;
              color:$letterColor;
             position:relative;
              top:10px;
            
            }
           
          }
          
        }
        & .artiHome:hover{
          transform: scale(1.02);
  
          }
  }
  
  @media only screen and (max-width:680px) {
   #home .artiHome{
    width:92%;
   
  }
  }