@import '_Header';
@import 'Activity';
@import 'Contact';
@import 'Footer';
@import 'Home';
@import 'Login';
@import 'Sign_in';
@import '_Slideshow';

body{
    position: relative;
  padding-bottom: 9rem;
  margin:0;

}


