/* tipo le letra */
/*  nav principal */
.main__nav { background-color: #EDF6FC; font-family: "Amatic SC", cursive; font-size: 30px; display: flex; justify-content: space-around; height: 95px; }

.main__nav .flex-image { justify-content: flex-start; }

.main__nav .main__nav--left { display: flex; align-items: center; justify-content: space-evenly; width: 35%; }

.main__nav .main__nav--left a:hover { transform: scale(1.1); }

.main__nav .main__nav--right { display: flex; justify-content: space-evenly; width: 65%; font-size: 16px; font-family: "Signika Negative", sans-serif; align-items: center; }

.main__nav .main__nav--right a:hover { transform: scale(1.06); text-decoration: underline; }

.main__nav a { text-decoration: none; color: black; text-align: center; }

.activity { background: #EDF6FC; margin: auto; margin-top: 50px; width: 700px; }

.activity .activity__tittle { display: flex; justify-content: center; font-size: 30px; font-family: "Signika Negative", sans-serif; padding-top: 20px; }

.activity .activity__attribute { padding: 3%; display: flex; justify-content: space-between; flex-wrap: wrap; }

.activity .activity__attribute p { font-family: "Signika Negative", sans-serif; }

.activity .activity__attribute .attribute__organization { width: 185px; }

.activity .activity__attribute .attribute__description { margin-top: -25px; margin-left: 3cm; width: 400px; height: 100px; }

.activity .activity__attribute .button { font-family: "Signika Negative", sans-serif; background: #6D79E2; margin-left: 80px; width: 173px; height: 46px; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 20px; border: 0; outline: none; margin-top: 10mm; margin-left: 12cm; }

@media only screen and (max-width: 680px) { .activity { width: 92%; }
  .activity .activity__attribute .attribute__description { width: 92%; } }

@media only screen and (max-width: 680px) { .activity { width: 92%; }
  .activity .activity__attribute .button { margin-left: 6cm; } }

h2 { text-align: center; font-family: "Signika Negative", sans-serif; margin-top: 50px; }

article { background: #EDF6FC; width: 500px; margin: auto; display: flex; justify-content: center; flex-wrap: wrap; }

article p { padding: 10px; width: 200px; font-family: "Signika Negative", sans-serif; text-align: justify; }

@media only screen and (max-width: 680px) { article { width: 92%; }
  article p { width: 92%; } }

footer { display: flex; justify-content: center; flex-wrap: wrap; font-size: 17px; font-family: "Signika Negative", sans-serif; background: #EDF6FC; position: absolute; right: 0; bottom: 0; left: 0; width: 100%; align-items: center; }

footer a { margin: 18px; text-decoration: none; color: black; }

footer a:hover { transform: scale(1.04); text-decoration: underline; }

/*
#footerHome{
  position: absolute;
  bottom:inherit;
}

#footerAct{
  position: absolute;
  bottom: 0cm;
}

@media only screen and (max-width:680px) {
  #footerAct{
    margin-bottom: -13cm;
  }
 }

*/
/*  
home  
*/
/*  Es una funcion para los botones*/
/* #headerHome{ background-image:url(/Images/acti1.jpeg);   text-align:center; margin:30px; padding:40px; background-size: cover; background-position:top;  height:100px; }*/
#filter__boton { background-color: #DCE2FC; margin-left: 30px; cursor: pointer; transform: scale(1.1); width: 100px; font-family: 'Signika Negative', sans-serif; background: #6CCCFA; color: black; font-size: 14px; border: 1px solid #6CCCFA; box-sizing: border-box; border-radius: 20px; outline: none; }

#activities { display: flex; flex-wrap: wrap; margin-bottom: 20px; }

#activities .activity { background: #EDF6FC; width: 600px; margin: auto; padding: 5px; border: 1px solid #9495FF; margin-top: 20px; }

#activities .activity img { width: 40%; height: 50%; transform: scale(1.2); margin-left: 30%; margin-top: 30px; }

#activities .activity p { display: flex; width: 240px; align-items: center; }

#activities .activity .activity__botton { font-family: 'Signika Negative', sans-serif; background: #6CCCFA; color: black; font-size: 14px; border: 1px solid #6CCCFA; box-sizing: border-box; border-radius: 20px; outline: none; text-align: center; cursor: pointer; height: 40px; margin-top: 40px; width: 140px; margin-left: 34%; }

#activities .activity__container:hover { transform: scale(1.01); }

@media only screen and (max-width: 680px) { #activities .activity { width: 93%; } }

/* ------------------------- */
/* POPUP */
/* ------------------------- */
.overlay { background: rgba(0, 0, 0, 0.3); position: fixed; top: 0; bottom: 0; left: 0; right: 0; align-items: center; justify-content: center; display: flex; visibility: hidden; }

.overlay.active { visibility: visible; }

.popup { background: #F8F8F8; box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3); border-radius: 3px; font-family: 'Montserrat', sans-serif; padding: 20px; text-align: center; width: 600px; transition: .3s ease all; transform: scale(0.7); opacity: 0; }

.popup .btn-cerrar-popup { font-size: 16px; line-height: 16px; display: block; text-align: right; transition: .3s ease all; color: #BBBBBB; }

.popup .btn-cerrar-popup:hover { color: #000; }

.popup h3 { font-family: "Amatic SC", cursive; font-size: 36px; font-weight: 600; margin-bottom: 10px; opacity: 0; }

.popup h4 { font-family: "Signika Negative", sans-serif; font-size: 26px; font-weight: 300; margin-bottom: 40px; opacity: 0; }

.popup form .contenedor-inputs { opacity: 0; }

.popup form .contenedor-inputs input { width: 100%; margin-bottom: 20px; height: 52px; font-size: 18px; line-height: 52px; text-align: center; border: 1px solid #BBBBBB; }

.popup form .btn-submit { padding: 0 20px; height: 40px; line-height: 40px; border: none; color: #fff; background: #5E7DE3; border-radius: 3px; font-family: 'Montserrat', sans-serif; font-size: 16px; cursor: pointer; transition: .3s ease all; }

.popup form .btn-submit:hover { background: rgba(94, 125, 227, 0.9); }

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active { transform: scale(1); opacity: 1; }

.popup.active h3 { animation: entradaTitulo .8s ease .5s forwards; }

.popup.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }

.popup.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

@keyframes entradaTitulo { from { opacity: 0;
    transform: translateY(-25px); }
  to { transform: translateY(0);
    opacity: 1; } }

@keyframes entradaSubtitulo { from { opacity: 0;
    transform: translateY(25px); }
  to { transform: translateY(0);
    opacity: 1; } }

@keyframes entradaInputs { from { opacity: 0; }
  to { opacity: 1; } }

/*Flecha para hacer la pagina hacia arriba*/
.ir-arriba { display: none; background-repeat: no-repeat; font-size: 20px; color: #9495FF; cursor: pointer; position: fixed; bottom: 10px; right: 10px; z-index: 2; }

.login { width: 450px; margin: auto; margin-top: 100px; font-family: "Signika Negative", sans-serif; }

.login .login__container { background: #EDF6FC; padding: 4%; text-align: center; box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); margin-bottom: 2.3rem; }

.login .login__container .form__group { display: flex; justify-content: flex-start; background: none; align-items: center; }

.login .login__container .form__group label { width: 30%; }

.login .login__container .form__group input { border: 0; margin: 12px 0 12px; padding: 5px; box-sizing: border-box; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }

.login .login__container button { background: #6D79E2; width: 38%; padding: 3%; color: black; border: 1px solid #000000; box-sizing: border-box; border-radius: 20px; position: relative; bottom: -19px; left: 4px; border: 0; outline: none; cursor: pointer; }

.login .login__container .login__title { transform: translate(0px, -20px); font-size: 19px; }

.login .login__form { padding: 3%; }

.login .message { padding: 6%; }

@media only screen and (max-width: 530px) { .login { width: 92%; align-items: center; } }

.signinBox__form-tittle { display: flex; justify-content: center; font-size: 30px; font-family: "Signika Negative", sans-serif; padding-top: 20px; }

.signinBox { width: 600px; margin: auto; margin-top: 7%; background-color: #EDF6FC; }

.signinBox .singinBox__form { padding: 3%; display: flex; justify-content: space-between; flex-wrap: wrap; }

.signinBox .singinBox__form p { font-family: "Signika Negative", sans-serif; }

.signinBox .singinBox__form .singin__form-password { padding-top: 50px; margin: auto; }

.signinBox .singinBox__form .singin_form-confirm_password { padding-top: 20px; padding-bottom: 20px; }

.signinBox .singinBox__form .signIn__Button { font-family: "Signika Negative", sans-serif; background-color: #6D79E2; margin-left: 80px; width: 173px; height: 46px; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 20px; border: 0; outline: none; }

.form-text { margin-left: 300px; }

.footer { margin-top: 50cm; }

@media only screen and (max-width: 680px) { .signinBox { width: auto; } }

/* Float Shadow */
.hvr-float-shadow { display: inline-block; vertical-align: middle; transform: perspective(1px) translateZ(0); box-shadow: 0 0 1px rgba(0, 0, 0, 0); position: relative; transition-duration: 0.3s; transition-property: transform; }

.hvr-float-shadow:before { pointer-events: none; position: absolute; z-index: -1; content: ''; top: 100%; left: 5%; height: 10px; width: 90%; opacity: 0; background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%); /* W3C */ transition-duration: 0.3s; transition-property: transform, opacity; }

.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active { transform: translateY(-5px); /* move the element up by 5px */ }

.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before { opacity: 1; transform: translateY(5px); /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */ }

/*body {
	align-items: center;


	height: 50%;

}*/
@keyframes scroll { 0% { transform: translateX(0); }
  100% { transform: translateX(calc(-200px *3)); } }

.slider { box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125); height: 300px; margin: auto; margin-bottom: 50px; overflow: hidden; position: relative; width: 100%; }

.slider::before, .slider::after { content: ""; height: 100px; position: absolute; width: 200px; z-index: 2; }

.slider::after { right: 0; top: 0; transform: rotateZ(180deg); }

.slider::before { left: 0; top: 0; }

.slider .slide-track { animation: scroll 10s linear infinite; display: flex; width: calc(350px * 6); }

.slider .slide { margin-left: 50px; height: 500px; width: 550px; }

body { position: relative; margin: 0; padding-bottom: 9rem; }
