@import '_Header';
@import 'Activity';
@import 'Contact';
@import 'Footer';
@import 'Home';
@import 'Login';
@import 'Sign_in';

body{
    position: relative;
  margin: 0;
  padding-bottom: 10rem;

}

